.chart-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff8df;
  margin: 10px 10px 0 0;
  border-radius: 20px;
  padding-bottom: 20px;
  transition: 0.3s;
}
.chart-container h2 {
  margin-bottom: 30px;
}
.chart-container span {
  margin-bottom: 10px;
}