.cart {
  background-color: #fdf7e7;
  width: 90%;
  height: 40px;
  border-bottom: 1.5px solid rgb(94, 94, 94);
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart span {
  font-weight: bold;
}
.cart button {
  position: relative;
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}
.cart button .icon {
  display: block;
  height: 20px;
  width: 20px;
  padding: 10px;
}
.cart button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.cart button:hover .icon {
  color: #555;
}

.cart:hover button {
  display: block;
}