.list-container {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	margin-bottom: 50px;
	.list-of-carts {
		width: 48%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
}
