.cart {
	background-color: #fdf7e7;
	width: 90%;
	height: 40px;
	border-bottom: 1.5px solid rgb(94, 94, 94);
	padding: 4px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	animation: cartSwitchAnim 0.3s ease-out;

	span {
		font-weight: bold;
		margin-left: 10px;
	}

	.cart-clickable-area:hover .cart {
		background-color: #c7bfa9;
		margin-left: 50px;
	}

	button {
		position: relative;
		background: none;
		border: none;
		cursor: pointer;

		.trash-icon {
			height: 20px;
			width: 20px;
			padding: 10px;
		}
		.chart-icon {
			height: 20px;
			width: 20px;
			padding: 10px;
		}
	}
	.trash-button {
		visibility: hidden;
	}

	button::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.trash-button:hover .trash-icon {
		color: #555;
	}
	.chart-button:hover .chart-icon {
		color: #555;
	}
}

.cart:hover .trash-button {
	visibility: visible;
}

@keyframes cartSwitchAnim {
	from {
		background-color: #76f35d;
	}
	to {
		background-color: #fdf7e7;
	}
}
