.app {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin-top: 50px;
	width: 60vw;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background-color: #fff1ca;
	border-radius: 20px;
}

.app .left-content {
	width: 55%;
}
.app .right-content {
	/* background-color: black; */
	width: 45%;
	height: 50%;
}
